@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.ChartCarousel {

  .carousel-control-next,
  .carousel-control-prev {
      filter: invert(100%);
  }

  .carousel-caption {
    color: black;
  }

  .carousel-item {
    display: flex;
    flex-direction: column;
  }
  
  .glide__arrow {
    color: black;
  }

  .glide__bullet {
    background-color: white;
    border: 1px solid black;
  }

  .glide__bullet--active {
    background-color: black;
  }
}

